<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div>
  <img src="/assets/bg.jpg" style="width:100%; margin-top: -100px; position: absolute;">
  <div class="container" style="margin-top: 60px">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h3> <i class="material-icons" style="font-size:20px;color:darkred;">account_circle</i> Create New Event</h3>
        <button type="button" class="btn btn-default pull-right" style="margin: -35px 13px 0px 0px" (click)="goBack()">
          Back</button>
        <hr>
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <label for="eventName">Event Name</label>
                <input type="text" id="eventName" class="form-control" ngModel name="eventName" required>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="type">Type:</label>
                <select class="form-control" id="type" ngModel name="type" required>
                  <option>Culture</option>
                  <option>Shopping</option>
                  <option>Eating</option>
                  <option>Kids</option>
                  <option>Business</option>
                  <option>Other</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="startdate">Start Date</label>
                <input type="date" id="startdate" class="form-control" ngModel name="startdate">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="enddate">End Date</label>
                <input type="date" id="enddate" class="form-control" ngModel name="enddate">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="time">Time</label>
                <input type="text" id="time" class="form-control" ngModel name="time" required>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="cost">Cost</label>
                <input type="text" id="cost" class="form-control" ngModel name="cost" required>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="location">Location</label>
                <input type="text" id="location" class="form-control" ngModel name="location" required>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="transportation">Transportation</label>
                <input type="text" id="transportation" class="form-control" ngModel name="transportation" required>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" id="description" class="form-control" ngModel name="description" required
                  #description="ngModel"></textarea>
                <!-- <span class="help-block" *ngIf="!description.valid && description.touched">Please enter your Description!</span> -->
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="picture">Please upload pictures</label>
                <div style="margin-bottom: 10px;">
                  <img *ngFor="let url of urls" [src]="url" width="170" height="100" style="margin: 4px">
                  <input type="file" multiple (change)="detectFiles($event)">
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid"> Submit </button>
          <button class="btn btn-debug" type="button" (click)="onReset()"> Reset </button>
        </form>
      </div>
    </div>
    <hr>
  </div>
</div>