<div class="container" style="margin-top: 60px">
	<div class="row">
    	<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-2 col-md-offset-2">
    			<h2>Unvalidated Events</h2>
	    		<div class="col inline" *ngFor="let place of places">
			        <div class="col-sm-12" style="margin-bottom: 5px">
			        <hr>
			          <a routerLink="/eventdetail/{{ place.attID }}">
			            <div class="col-sm-4">
			                <img class="rounded" [src]="place.img" style="width: 100%;">
			            </div>
			          </a>
			            <div class="col-sm-8" style="margin-top: 0px">
			              <a routerLink="/eventdetail/{{ place.attID }}">
			                <h4 style="/*position: absolute; */text-align: left;">{{ place.name }}</h4>
			              </a>
			            
			            </div>
			        </div>
			    </div>
			
		</div>
	</div>
</div>