.container {
  margin-top: 30px;
}
input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border: 1px red solid;
}
input.ng-valid.ng-touched, select.ng-valid.ng-touched {
  border: 1px green solid;
}
